global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
        user haproxy
        group haproxy
        daemon

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

listen mysql_backend *:3306
  mode tcp
  option tcplog
  balance roundrobin
  timeout client 1h
  timeout server 1h
  option mysql-check user haproxy
  {% for host in groups['mysql'] %}
  server {{ host }} {{ hostvars[host]['ansible_default_ipv4']['address'] }}:3306 check maxconn 256 weight 20
  {% endfor %}
